/* Main color definitions */
$primary-color: #ff0000 !default;
$secondary-color: #ff0083 !default;
$tertiary-color: #2200ff !default;

/* Button and link colors */
$primary-action-color: #ff00e7 !default;
$default-action-color: #13b054 !default;
$action-color-change: 5% !default;


// Alert Colors
$alert-info-color: #3498db !default;
$alert-success-color: #2ecc71 !default;
$alert-warning-color: #f39c12 !default;
$alert-dagner-color: #c0392b !default;

$alert-color-change: 40% !default;
$alert-font-color-change: 20% !default;

// whites
$white-default: #fff;

// Grays
$gray-black: #1F2D3D !default;
$gray-steel: #273444 !default;
$gray-slate: #3C4858 !default;
$gray-silver: #8492A6 !default;

// fonts
$font-display: "Poppins";