/* Main color definitions */
$primary-color: #39d37d !default;
$secondary-color: #3f3eba !default;
$tertiary-color: #ff0055 !default;

/* Button and link colors */
$primary-action-color: #ff8b00 !default;
$default-action-color: #2fbb71 !default;
$action-color-change: 5% !default;

// whites
$white-default: #fff;

// Grays
$gray-black: #1F2D3D !default;
$gray-steel: #273444 !default;
$gray-slate: #3C4858 !default;
$gray-silver: #8492A6 !default;

// fonts
$font-display: "Poppins";