@import 'variables';
@import 'mixin';
@import 'reset';
@import 'typography';
@import 'button';
@import 'structure';
@import 'alert';

// Designs
//
// This is the atoms chapter. Atoms are the only parts that contain actual
// class and style definitions. The higher level abastractions are mere
// composites of the existing atoms.
//
// Styleguide 1.0

/*
Main colors

$primary-color - Primary color
$secondary-color - Secondary color
$primary-action-color - Primary button color
$default-action-color - Default button color and link color
$tertiary-color - Used for input hovers and hilights

markup:
<div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>

Styleguide 1.1
*/

/*
Alert Colors

$alert-info-color - Blue
$alert-success-color - Green
$alert-warning-color - Yellow
$alert-dagner-color - Red

markup:
<div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>

Styleguide 1.1.1
*/

/*
Grays

$gray-black - Black color
$gray-steel - Steel color
$gray-slate - Slate color
$gray-silver - Silver color

markup:
<div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>

Styleguide 1.1.2
*/