.btn.default.pseudo-class-hover {
  background: #119949;
}

.btn.primary.pseudo-class-hover {
  background: #e600d0;
}

.btn.success.pseudo-class-hover {
  background: #1f00e6;
}

input.pseudo-class-focus {
  outline: none;
  border-color: #ff0000;
}

ul.nav li a.pseudo-class-hover {
  background: #ff00e7;
}

.card.people.pseudo-class-first-child {
  margin-left: 0;
}